@mixin flex-center {
    display: flex;
    justify-content: center;
}
@mixin flex-sb {
    display: flex;
    justify-content: space-between;
}
@mixin desctop-container {
    max-width: 1140px;
    margin: 0 auto;
}
@mixin font_common-params_normal {
    font-style: normal;
    letter-spacing: 0em;
    text-align: center;
}
@mixin inner {
    max-width: 1140px;
    margin: 0 auto;
}
