* {
   margin: 0;
   padding: 0;
}
span{
   color: #F16D7F;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}
.row{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.right-menu{
   display: flex;
}
.left-menu{
   display: flex;
}
.right-menu-search-item{
   margin-left: 41px;
   margin-top: 28.21px;
   margin-bottom: 20px;
}
.right-menu-logo-item{
   margin-top: 18px;
   margin-bottom: 19px;
}
.left-menu-burger-item{
   margin-top: 30px;
   margin-bottom: 22px;
   margin-right: 33px;
}
.left-menu-login-item{
   margin-top: 26px;
   margin-bottom: 20px;
   margin-right: 33px;
}
.cart-group{
   margin-top: 26px;
   margin-bottom: 20px;
}
.cart-ellipse{
   position: absolute;
   margin-top: -3px;
   margin-left: -15px;

}
.left-menu-cart-ellipse p{
   position: absolute;
   margin-bottom: 20px;
   margin-right: 1px;
   color: #ebf3fb;
   z-index: 1; 
}
.slide{
   margin-bottom: 65px;
   display: flex;
   justify-content: space-between;
   height: 764px;
   width: 100%;
   background-color:#F1E4E6;
}
.container-slide{
   max-width: 1140px;
   margin: 0 auto;
   display: flex;

}
.slide-right{
   display: flex;
}
.left-slide-img{
   margin-left: -420px;

}
.right-slide-text-group{
   margin-top: 290px;
   margin-bottom: 381px;
   display: flex;
   wrap: wrap;
   width: 377px;
   height: 93px;
}
.offers{
   display: flex;
   flex-wrap: wrap;
}
.offer-bottom{
   margin-bottom: 96px;
}
.offer-man{
   position: relative;
margin-bottom: 30px;
margin-left: 30px;
margin-right: 30px;
}
.featured-header{
   margin-bottom: 6px;
   text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;


}
.featured-parag{
   margin-bottom: 48px;
   text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;

}
.offer{
   display: grid;
   height: 581px;
width: 360.0000305175781px;
background-color: #F8F8F8;

}
.offer-img{
   padding-top: 9px;
   padding-bottom: 11px;
   margin: 0 auto;
   z-index: 1;
}
.offer-bcg{
   position: absolute;
}
.offer-center{
   margin: 30px;
   margin-top: 0px;
}
.offer-title{
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
padding-bottom: 12px;
padding-top: 25px;
padding-left: 18px;
}
.offer-price{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

}
.offer-p{
   color: #5D5D5D;
   font-size: 14px;
   font-style: normal;
   font-weight: 300;
   line-height: 17px;
   letter-spacing: 0em;
   text-align: left;
   padding-right: 28px;
   padding-bottom: 57px;
   padding-left: 16px;
}
.button{
   border-width: 1px;
   border-style: solid;
   border-color: #F1E4E6;
   height: 48px;
width: 212px;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
margin-top: 48px;
margin-bottom: 95px;

}
.footer-top{
   background-color: black;
   display: flex;
   justify-content: center;
}
.footer-top-container{
   max-width: 1140px;
   display: flex;
   justify-content: space-around;
   background-color: black;
}
.footer-top-item{
   display: flex;
   justify-content: space-around;
   flex-direction: column;
}
.footer-top-img-truck{
   align-self: center;
   height: 31.9345703125px;
   width: 44.98904037475586px;
   margin-top: 103px;
   margin-bottom: 28.07px;
   
}
.footer-top-img-crown{
   align-self: center;
   height: 34.9267578125px;
   width: 47.023048400878906px;
   margin-top: 104px;
   margin-bottom: 25.08px;
   
}
.footer-top-img-sale{
   align-self: center;
   height: 39.923828125px;
   width: 39.98602294921875px;
   margin-top: 103px;
   margin-bottom: 19.07px;
   
}
.footer-top-title{
   color: #FBFBFB;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

}
.footer-top-p{
   color: #FBFBFB;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
margin-top: 18px;
margin-bottom: 104px;

   

}
.footer-container{
   margin: 0 auto;
   max-width: calc(1140 / 2);
   
}
.footer{
   background-image: url(/img/body/footer/footer_bcg.jpg);
   width: 100%;
   height: 448px;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: space-around;
}
.face{
   text-align: center;
   margin-top: 95px;
   margin-bottom: 126px;
   width: 360px;
}
.footer-face-text{
   margin-top: 40px;
   font-style: italic;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

}
.subscribe-group{
   margin-top:155px;
   text-align: center;
}
.subcribe-text{
   margin-bottom: 27px;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;

}

.main {
   flex-grow: 1;
}

body {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   min-width: 320px;
   background: #fff;
   font-family: 'Lato', sans-serif;
}

.header {
   background-color: #222;
}

.header li {
   list-style-type: none;
}
.rectangle{
   width: 12px;
   height: 92px;
   background-color: #F16D7F;
   margin-right: 16px;
}


.featured-text{
   position: absolute;
   margin-top: 200px;
}
.featured-title{
   text-align: center;
}

.Button {

	border:1px solid #F16D7F;
	display:inline-block;
	color:#F16D7F;
	font-family:Arial;
	font-size:14px;
	padding:15px 35px;
	text-decoration:none;
   margin-left: 500px;
}

.footer-bottom{
   background-color: black;
   display: flex;
}

.footer-bottom-container{
   display: flex;
   height: 76px;
   justify-content: space-between;
}
.footer-bottom-text{
   font-weight: 300;
   font-size: 14px;
   line-height: 16px;
color: #FBFBFB;
text-align: left;
margin-top: 30px;
margin-bottom: 30px;
}
label {
   display: block;
 }
 
 .subscribe {
  display: flex;
  
 }
 
 .subscribe-field {
   width: 342px;
   border: none;
   background: #E1E1E1;
   padding: 20px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
 }
 .subscribe-field:focus {
   background: grey;
   border: none;
   outline: none;
 }
 .subscribe-field:hover {
    background: red;
 }
 .subscribe-field::placeholder {
   color: #000;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;

 }
 
 .subscribe-btn {
   width: 100px;
   border: none;
   background-color: #F16D7F;
   color: #fff;
   padding: 20px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   cursor: pointer;
 }
 .subscribe-btn:hover{
   background-color: red;
 }
.social{
   display: flex;
   margin-left: 500px;
   margin-bottom: 24px;
   margin-top: 24px;
   width: 32px;
   height: 32px;
   background-color: white;
}
.social:hover{
   background-color: #F16D7F;
}
.icon{
   margin-right: 8px;
}

/* catalog page */
.breadcrumb{
   display: flex;
   justify-content: space-between;
   background-color: #F8F3F4;
   height: 148px;
   align-items: center;
   width: 1140px;
   margin: 0 auto;
}
.container-breadcrumb{
   width: 100%;
   background-color:#F8F3F4;
}
.pagination{
   display: flex;
   justify-content: space-between;
   /* background-color: #F8F3F4; */
   height: 148px;
   align-items: center; 
}
details::-webkit-details-marker {display: none;} {
}
details::after{
content: url(/img/catalog/Vector.png);
margin-left: 10px;
width: 10px;
height: 5px;
}
summary {
  display: inline-block;
  outline: none;
}
.filter-li{
   display: flex;
}
.filter{
   /* align-self: flex-start; */
}
.pagination-bottom{
   text-align: center;
   margin-top: 48px;
   margin-bottom: 96px;
}
